
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Source+Code+Pro);

/*
fonts
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Source Code Pro', sans-serif;

background
  background-color: #ebebeb;

navbar
  #00ccff (border-bottom: 3px solid #00ccff;)

hover 
  #6c6c6c

bootstrap breakpoints
  @media(max-width:767px){}
  @media(min-width:768px){}
  @media(min-width:992px){}
  @media(min-width:1200px){}
*/


body {
  padding-top: 58px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: #434343;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.1;
  color: inherit;
}

code,
kbd,
pre,
samp {
  font-family: 'Source Code Pro', monospace;
}

.itemList {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0; 
}

.metadata {
  color: #999999;
  font-size: 0.846em;
  margin: 0 0 12px;
}

/* 
    Navigation
*/

.navbar {
    background-color:#ebebeb;
    background-color:rgba(235, 235, 235, 0.97);
    border: 0;
}

.navbar-nav > li {
  margin-right: 15px;
}

.nav > li {
  padding: 27px 0 0 0;
  border-bottom: 3px solid #d5d5d5;
}

.nav > li.first {
  font-weight: 400;
}

.nav > li.active {
  border-bottom: 3px solid #00ccff;
}

.nav > li.divider {
  border-bottom: 0;
}

.nav > li > a {
  padding: 0;
  color: #434343;
}

.nav > li > a:hover{
  color: #6c6c6c;
  background-color: inherit;
}

.nav-title-collapsed {
  max-width: 80%
}

/*
    Front page
*/

.accentContainer {
  background-color: #ebebeb;
  font-size: 16px;
  overflow: auto;
  display: table;
  width: 100%;
  margin-bottom: 25px;
}

#intro-portrait {
  width: 96px;
  float: left;
}

#intro-text {
  padding: 12px 12px 0px 12px;
  margin-left: 96px;
  font-family: 'Source Code Pro', monospace;
  color: #454545;
  background-color: #ebebeb;
  display: table-cell;
  vertical-align: middle;
}

@media(max-width:767px){
  #greeting {
    margin-top: 15px;
    margin-bottom: 12px;
  }
  #greetings {
    font-size: 26px;
  }
}

@media(min-width:768px){
  #greetings span {
    font-size: 48px;
  }

  #greeting {
    margin-top: 25px;
    margin-bottom: 30px;
  }
}

@media(min-width:992px){
  #greetings span {
      font-size: 62px;
  }
}

@media(min-width:1200px){
  #greetings span {
      font-size: 72px;
  }
}

#greetings {
  width: 100%;
  transition-property: background-color;
  transition-duration: 0.5s;
}

#greetings:hover {
  background-color: #e2e6d6;
}

#greetings span {
    font-family: 'Source Code Pro', Helvetica, Tahoma;
}

#greetings .code {
    color: #808080;
    transition-property: color,background-color;
    transition-duration: 0.5s;
}

#greetings .code:hover{
    color: #000000;
}

#greetings .codeliteral {
    color: #dab2b2;
    transition-property: color;
    transition-duration: 0.5s;
}

#greetings .codeliteral:hover {
    color: #A31515;
    transition-property: color;
    transition-duration: 0.5s;
}

#greetings .specialchars {
    color: #d8a4a4;
    transition-property: color;
    transition-duration: 0.5s;
}

#greetings .specialchars:hover{
    color: #b24c4c;
}

@media(max-width:479px){
  .navbar-nav .active,
  .navbar-nav .hidden-collapsed {
    display: none !important;
  }

  .navbar-nav li {
    margin-left: 9px;
  }
}

/*
  Posts
*/

.post-list {
  max-width: 992px;
}

.post-list > header {
  margin-top: 6px;
  margin-bottom: 6px;
  text-align: right;
  font-size: smaller;
}

.post-list article {
  border-top: #f0f0f0 solid 1px;
  padding-top: 20px;
  padding-bottom: 8px;
}

.post-list article header {
  margin-bottom: 6px;
}

.post-list h1 {
  font-size: larger;
  margin-bottom: 0;
  margin-top: 0;
}

.post-list h1 a {
  color: #434343;
}

.post-list .post-metadata, .post-metadata a {
  color: lightgray;
  margin-left: 12px;
}

.post {
  max-width: 768px;
}
