/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset 
included in boostrap 

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }
*/

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Source+Code+Pro);

/*

fonts:
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Source Code Pro', sans-serif;

background: 
  background-color: #ebebeb;

navbar
  #00ccff (border-bottom: 3px solid #00ccff;)

hover #6c6c6c
*/


body {
  padding-top: 58px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: #434343;

}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.1;
  color: inherit;
}

code,
kbd,
pre,
samp {
  font-family: 'Source Code Pro', monospace;
}


/* 
    Navigation
*/

.navbar {
    background-color:#ebebeb;
    background-color:rgba(235, 235, 235, 0.97);
    border: 0;
}

.navbar-nav > li {
  margin-right: 15px;
}

.nav > li {
  padding: 27px 0 0 0;
  border-bottom: 3px solid #d5d5d5;
}

.nav > li.first {
  font-weight: 400;
}

.nav > li.active {
  border-bottom: 3px solid #00ccff;
}

.nav > li.divider {
  border-bottom: 0;
}

.nav > li > a {
  padding: 0;
  color: #434343;
}

.nav > li > a:hover{
  color: #6c6c6c;
  background-color: inherit;
}

.itemList {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0; 
}

.metadata {
  color: #999999;
  font-size: 0.846em;
  margin: 0 0 12px;
}

/*
    Front page
*/

.accentContainer {
  background-color: #ebebeb;
  font-size: 16px;
  overflow: auto;
  display: table;
  width: 100%;
  margin-bottom: 25px;
}

#intro-portrait {
  /*border-top: 6px solid #454545;
  border-left: 6px solid #454545;*/
  width: 96px;
  float: left;
}

#intro-text {
  padding: 12px 12px 0px 12px;
  margin-left: 96px;
  font-family: 'Source Code Pro', monospace;
  color: #454545;
  background-color: #ebebeb;
  display: table-cell;
  vertical-align: middle;
}

@media(max-width:767px){
  #greeting {
    margin-top: 15px;
    margin-bottom: 12px;
  }

  #greetings {
    font-size: 26px;
  }
}
@media(min-width:768px){
  #greetings span {
    font-size: 48px;
  }

  #greeting {
    margin-top: 25px;
    margin-bottom: 30px;
  }
}
@media(min-width:992px){

  #greetings span {
      font-size: 62px;
  }

}
@media(min-width:1200px){
  #greetings span {
      font-size: 72px;
  }


}

#greetings span {
    font-family: 'Source Code Pro', Helvetica, Tahoma;
}

#greetings .code {
    color: #808080;
    transition-property: color,background-color;
    transition-duration: 0.5s;
}

#greetings .code:hover{
    color: #000000;
    background-color: #e2e6d6;
}

#greetings .codeliteral {
    color: #dab2b2;
    transition-property: color;
    transition-duration: 0.5s;
}

#greetings .codeliteral:hover {
    color: #A31515;
    transition-property: color;
    transition-duration: 0.5s;
}

#greetings .specialchars {
    color: #d8a4a4;
    transition-property: color;
    transition-duration: 0.5s;
}

#greetings .specialchars:hover{
    color: #b24c4c;
}

@media(max-width:479px){
  .navbar-nav .active,
  .navbar-nav .hidden-collapsed {
    display: none !important;
  }

  .navbar-nav li {
    margin-left: 9px;
  }
}

/*
  Posts
*/

.post-list > header {
  margin-top: 6px;
  margin-bottom: 6px;
  text-align: right;
  font-size: smaller;
}

.post-list article {
  border-top: #dbdbdb solid 1px;
  padding-top: 20px;
  padding-bottom: 8px;
}

.post-list article header {
  margin-bottom: 6px;
}

.post-list h1 {
  font-size: larger;
  margin-bottom: 0;
  margin-top: 0;
}

@media(max-width:767px){}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}

/* 
    background-color:#ebebeb;
    background-color:rgba(235, 235, 235, 0.97);
    */

/*
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}
*/
/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

/*
.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
  color: #a00;
}

.title a:hover {
  color: #000;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}
*/
/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard 


.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}
*/

/* terminal 
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

*/


