<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ site.name }} - {{ page.title }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-theme.min.css">

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/css/syntax.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
</head>
<body>
  <div class="container">

    <!-- Navigation -->
    <nav class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <div class="navbar-toggle nav-title-collapsed pull-left" data-toggle="collapse">{{ page.title }}</div>

                <button class="btn btn-muted navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="glyphicon glyphicon-chevron-down"/>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {% assign pageUrl = page.url|remove:'index.html' %}
                    <li class="first {% if pageUrl == '/' %}active{% endif %}">
                        <a href="/">{{ site.name }}</a> 
                    </li>
                    <li class="divider hidden-collapsed">:</li>
                    <li class="{% if pageUrl == '/weblog/' %}active{% endif %}">
                        <a href="/weblog/">Weblog</a>
                    </li>
                    <li class="{% if pageUrl == '/about/' %}active{% endif %}" >
                        <a href="/about/">About</a> 
                    </li>
                </ul>
            </div>
            </div>
        </nav>

        {{ content }}
        
      </div>
      <script type="text/javascript" src="//code.jquery.com/jquery-2.0.3.min.js"></script>
      <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
</body>
</html>
